.header {
	border-bottom: 1px solid $athens-gray;
}

.header__nav--right {
	margin-left: auto;
}

.header__top-wrap {
	background: $athens-gray;
}

.header__top {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
