.header__nav--right {
	margin-left: auto;
}

.header__top-wrap {
	background: $athens-gray;
}

.header__top {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.header__main {
	padding: 25px 0;
}

.header__content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.header__logo {
	margin-right: 40px;

	img {
		height: 40px;
	}
}

.header__phones {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 90px;

	&>* {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header__phone {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: $tundora;
}

.header__link {
	display: block;
	font-size: 12px;
	line-height: 1.67;
	text-decoration: underline;
	color: $silver-chalice;
}

.header__desc {
	display: block;
	font-size: 12px;
	line-height: 1.67;
	color: $silver-chalice;
}

.header-address {
	display: flex;
	flex: 0 0 190px;

	&>* {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header-address__text {
	font-size: 12px;
	line-height: 1.67;
	color: $tundora;
}

.header__shop {
	display: flex;
	flex: 0 0 274px;
	justify-content: flex-end;
	margin-left: auto;

	&>* {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header-goods__price {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: $tundora;
}

.header-goods__count {
	display: block;
	font-size: 12px;
	line-height: 1.67;
	color: $silver-chalice;
}

.header-basket {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	height: 40px;
	background: $wild-sand;
	border-radius: 20px;

	.icon-basket {
		margin-right: 15px;
	}
}

.header-basket__text {
	font-weight: 600;
	color: $tundora;
}

.icon-placeholder {
	flex: 0 0 15px;
	width: 15px;
	height: 20px;
	fill: gray;
}

.icon-basket {
	width: 20px;
	height: 20px;
	fill: $blaze-orange;
}
