.header-nav__list {
	display: flex;
	align-items: center;
}

.header-nav__item {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.header-nav__link {
	font-size: 12px;
	line-height: 1.67;
	color: $thundora;
}
