.header-main
	.container
		.header__logo.logo
			img(src="assets/i/logo.jpg", alt="logo")
	.header__phones
		.header__item
			a(href="tel:84951203034").header__phone 8 (495) 120-30-34
			a(href="").header__link Заказать звонок

		.header__item
			a(href="tel:88007077518").header__phone 8 (800) 707-75-18
			a(href="").header__link Звонок бесплатный

	.header__address.header-address
		+icon('icon-location', 'location')

	.header__address.header-address
		+icon('icon-basket', 'basket')

//- Москва, пр-т Андропова, 11
//- к. 2, павильон № 1/2
