.header__menu
	.container
		.header__content
			nav.header__main-nav.main-nav
				include main-nav

				.main-nav__search.search
					+icon('header-search-icon search', 'search')
					.search__body
						form.search__form
							.search__input-wrapper
								input(type="text" placeholder="Я хочу купить...")#js-search__input.search__input
								#js-search__clear.search__clear
									+icon('search__icon', 'close-button')
							input(type="submit" value="Найти").search__submit
