ul.main-nav__list
	li.main-nav__item
		a(href="#").main-nav__link Самокаты

		.main-nav-dropdown
			ul.main-nav-dropdown__list
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Взрослые самокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')

					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Взрослые двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Взрослые трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Взрослые с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Взрослые с надувными колесами

				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Детские самокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')

					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Детские двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Детские трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Детские с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Детские с надувными колесами

				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Городские самокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')

					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Городские двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Городские трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Городские с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Городские с надувными колесами

				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Складные самокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')

					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с надувными колесами

						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с надувными колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Складные с надувными колесами
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Трюковые самокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')

					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Трюковые двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Трюковые трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Трюковые с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Трюковые с надувными колесами

				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Электросамокаты
						+icon('main-nav-dropdown__icon', 'right-chevron')
					ul.main-nav-dropdown__list.main-nav-dropdown__list-sub
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Электросамокаты двухколесные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Электросамокаты трехколессные самокаты
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Электросамокаты с большими колесами
						li.main-nav-dropdown__item
							a(href="#").main-nav-dropdown__link
								span.main-nav-dropdown__text Электросамокаты с надувными колесами
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Самокаты с двумя амортизаторами
						+icon('main-nav-dropdown__icon', 'right-chevron')
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Самокаты Globber
						+icon('main-nav-dropdown__icon', 'right-chevron')
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Самокаты Micro
						+icon('main-nav-dropdown__icon', 'right-chevron')
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Самокаты от года
						+icon('main-nav-dropdown__icon', 'right-chevron')
				li.main-nav-dropdown__item
					a(href="#").main-nav-dropdown__link
						span.main-nav-dropdown__text Самокаты Puky
						+icon('main-nav-dropdown__icon', 'right-chevron')
			.main-subnav
	li.main-nav__item
		a(href="#").main-nav__link Беговелы
	li.main-nav__item
		a(href="#").main-nav__link Велосипеды
	li.main-nav__item
		a(href="#").main-nav__link Ролики
	li.main-nav__item
		a(href="#").main-nav__link Скейты
	li.main-nav__item
		a(href="#").main-nav__link Батуты
	li.main-nav__item
		a(href="#").main-nav__link Аксессуары и запчасти
	li.main-nav__item
		a(href="#").main-nav__link Еще
