//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;

//colors
$white: #fff;
$black: #000;
$athens-gray: #EEF2F4;
$tundora: #4b4b4b;
$silver-chalice: #a9a9a9;
$blaze-orange: #ff6d00;
$wild-sand: #f6f6f6;
$mine-shaft: #262626;
$silver: #cccccc;
$alto: #ddd;

$placeholder-color: #a6a6a6;
